# -----------------------------------
# WhatsApp Configuration
# -----------------------------------
WHATSAPP_DATASTORE_TYPE=sqlite
WHATSAPP_DATASTORE_URI=file:dbs/WhatsApp.db?_foreign_keys=on

WHATSAPP_CHATGPT_TAG="#askme"

# WHATSAPP_VERSION_MAJOR=2
# WHATSAPP_VERSION_MINOR=2245
# WHATSAPP_VERSION_PATCH=9

# -----------------------------------
# ChatGPT Configuration
# -----------------------------------
CHATGPT_API_KEY=

CHATGPT_MODEL_NAME=gpt-3.5-turbo
CHATGPT_MODEL_TOKEN=4000
CHATGPT_MODEL_TEMPERATURE=0
CHATGPT_MODEL_TOP_P=1
CHATGPT_MODEL_PENALTY_PRESENCE=0
CHATGPT_MODEL_PENALTY_FREQUENCY=0.6

CHATGPT_BLOCKED_WORD=
